@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

.first-title {
  font-size: 20px;
}

.icon-container {
  display: flex;
  margin-top: 25px;
}

.box {
  width: 25px;
  height: 25px;
  background-color: #fff;
  position: relative;
  margin-left: 20px;
}
